<label for="title">Title</label><input type="text" name="title" placeholder="Please enter your title" id="title">
<label for="body">Body</label><input type="text" name="body" placeholder="Write your blog" id="body">
<button type="submit" name="button" class='submit'>Submit</button>
