<label for="first-name"></label><input type="text" class="form-control" name = "first-name" placeholder = "First Name" id="first-name"></br>
<label for="last-name"></label><input type="text" class="form-control" name = "secomd-name" placeholder = "Second Name"id="last-name"></br>
<label for="address"></label><input type="text" class="form-control" name = "address" placeholder = "Address"id="address"></br>
<label for="phone"></label><input type="text" class="form-control" name = "phone" placeholder = "Phone Number"id="phone"></br>
<button class='btn btn-default submit' type="submit" name="button">POST</button>
